In [1]:
import pandas as pd
import numpy as np

In [8]:
dictionary= {"Apples":[30],"Bananas":[21]}
df1= pd.DataFrame(dictionary)
df1

   Apples  Bananas
0      30       21

In [19]:
dictionary= {"Apples":[35,41],"Bananas":[21,34]}
df= pd.DataFrame(dictionary)
df = df.reset_index(drop=True)
df.index = ['2017 sales', '2018 sales']
df

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

In [20]:
data = {'Flour': '4 cups', 'Milk': '1 cup', 'Eggs': '2 large', 'Spam': '1 can'}
series = pd.Series(data, name='Dinner')

print(series)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [21]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [22]:
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True